/*    font
----------------------------------------------*/
.fwB {font-weight: bold!important;}
.fwN {font-weight: normal!important;}
.fsS,.xxsmall{font-size:64%!important;}
.fs10,.xsmall {font-size:77%!important;line-height:1.3em!important;}
.fs11,.small {font-size:85%!important;line-height:1.4em!important;}
.fs12 {font-size:93%!important;line-height:1.5em!important;}
.fs13 {font-size:100%!important;line-height:1.7em!important;}
.fs14 {font-size:108%!important;}
.fs15,.large {font-size:116%!important;}
.fs16 {font-size:123.1%!important;}
.fs17 {font-size:131%!important;}
.fs18 {font-size:138.5%!important;}
.fs19,.xlarge {font-size:146.5%!important;}
.fs20 {font-size:153.9%!important;}
.fs21 {font-size:161.6%!important;}
.fs22 {font-size:167%!important;}
.fs23 {font-size:174%!important;}
.fs24 {font-size:182%!important;}
.fs25 {font-size:189%!important;}
.fs26 {font-size:197%!important;}
.ffs10 {font-size:10px!important;}
.ffs11 {font-size:11px!important;}
.ffs12 {font-size:12px!important;}
.ffs13 {font-size:13px!important;}
.ffs14 {font-size:14px!important;}
.ffs15 {font-size:15px!important;}
.ffs16 {font-size:16px!important;}
.ffs17 {font-size:17px!important;}
.ffs18 {font-size:18px!important;}
.ffs19 {font-size:19px!important;}
.ffs20 {font-size:20px!important;}
.ffs21 {font-size:21px!important;}
.ffs22 {font-size:22px!important;}
.ffs23 {font-size:23px!important;}
.ffs24 {font-size:24px!important;}
.ffs25 {font-size:25px!important;}
.ffs26 {font-size:26px!important;}
.ls1 {letter-spacing: 0.1em!important;}
.ls2 {letter-spacing: 0.2em!important;}
.ls3 {letter-spacing: 0.3em!important;}
.ls4 {letter-spacing: 0.4em!important;}
.ls5 {letter-spacing: 0.5em!important;}
.ls6 {letter-spacing: 0.6em!important;}
.ls7 {letter-spacing: 0.7em!important;}
.ls8 {letter-spacing: 85%!important;}
.ls9 {letter-spacing: 0.9em!important;}
.ls10 {letter-spacing: 1.0em!important;}
.lh10 {line-height:1.0em!important;}
.lh11 {line-height:1.1em!important;}
.lh12 {line-height:1.2em!important;}
.lh13 {line-height:1.3em!important;}
.lh14 {line-height:1.4em!important;}
.lh15 {line-height:1.5em!important;}
.lh16 {line-height:1.6em!important;}
.lh17 {line-height:1.7em!important;}
.lh18 {line-height:1.8em!important;}
.lh19 {line-height:1.9em!important;}
.lh20 {line-height:2.0em!important;}
.lh22 {line-height:2.2em!important;}
.lh24 {line-height:2.4em!important;}
/*    width
----------------------------------------------*/
.w4 {width: 4em!important;}
.w5 {width: 5em!important;}
.w6 {width: 6em!important;}
.w7 {width: 7em!important;}
.w8 {width: 8em!important;}
.w9 {width: 9em!important;}
.w10 {width: 10em!important;}
.w11 {width: 11em!important;}
.w12 {width: 12em!important;}
.w13 {width: 13em!important;}
.w14 {width: 14em!important;}
.w15 {width: 15em!important;}

.w40 {width: 40px!important;}
.w60 {width: 60px!important;}
.w80 {width: 80px!important;}
.w100 {width: 100px!important;}
.w120 {width: 120px!important;}
.w140 {width: 140px!important;}
.w160 {width: 160px!important;}
.w180 {width: 180px!important;}
.w200 {width: 200px!important;}
.w220 {width: 220px!important;}
.w240 {width: 240px!important;}
.w260 {width: 260px!important;}
.w280 {width: 280px!important;}
.w300 {width: 300px!important;}
.w320 {width: 320px!important;}
.w340 {width: 340px!important;}
.w360 {width: 360px!important;}
.w400 {width: 400px!important;}
.w420 {width: 420px!important;}
.w440 {width: 440px!important;}
.w460 {width: 460px!important;}
.w480 {width: 480px!important;}
.w500 {width: 500px!important;}
.w520 {width: 520px!important;}
.w540 {width: 540px!important;}
.w560 {width: 560px!important;}
.w580 {width: 580px!important;}
.w600 {width: 600px!important;}
.w620 {width: 620px!important;}
.w640 {width: 640px!important;}
/*    margin padding
----------------------------------------------*/
/* margin */
.m0 {margin:0px!important;}
.m10 {margin:10px!important;}
.m20 {margin:20px!important;}
.m30 {margin:30px!important;}
.m40 {margin:40px!important;}
.m50 {margin:50px!important;}
/* padding */
.p0 {padding:0px!important;}
.p1 {padding:1px!important;}
.p5 {padding:5px!important;}
.p10 {padding:10px!important;}
.p20 {padding:20px!important;}
.p30 {padding:30px!important;}
.p40 {padding:40px!important;}
.p50 {padding:50px!important;}
/* detail */
.mA {margin:auto!important;}
.mT0 {margin-top:0!important;}
.mT1 {margin-top:1px!important;}
.mT2 {margin-top:2px!important;}
.mT3 {margin-top:3px!important;}
.mT4 {margin-top:4px!important;}
.mT5 {margin-top:5px!important;}
.mV5 {margin-top:5px!important;margin-bottom:5px!important;}
.mV10 {margin-top:10px!important;margin-bottom:10px!important;}
.mT10 {margin-top:10px!important;}
.mT-1 {margin-top:-1px!important;}
.mT-10 {margin-top:-10px!important;}
.mT11 {margin-top:11px!important;}
.mT12 {margin-top:12px!important;}
.mT13 {margin-top:13px!important;}
.mT14 {margin-top:14px!important;}
.mT15 {margin-top:15px!important;}
.mT20 {margin-top:20px!important;}
.mT-20 {margin-top:-20px!important;}
.mT25 {margin-top:25px!important;}
.mT30 {margin-top:30px!important;}
.mT-30 {margin-top:-30px!important;}
.mT35 {margin-top:35px!important;}
.mT40 {margin-top:40px!important;}
.mT45 {margin-top:45px!important;}
.mT50 {margin-top:50px!important;}
.mT55 {margin-top:55px!important;}
.mT60 {margin-top:60px!important;}
.mT65 {margin-top:65px!important;}
.mT70 {margin-top:70px!important;}
.mT75 {margin-top:75px!important;}
.mT80 {margin-top:80px!important;}
.mT85 {margin-top:85px!important;}
.mT90 {margin-top:90px!important;}
.mT95 {margin-top:95px!important;}
.mT100 {margin-top:100px!important;}
.mB0 {margin-bottom:0px!important;}
.mB5 {margin-bottom:5px!important;}
.mB10 {margin-bottom:10px!important;}
.mB15 {margin-bottom:15px!important;}
.mB20 {margin-bottom:20px!important;}
.mB25 {margin-bottom:25px!important;}
.mB30 {margin-bottom:30px!important;}
.mB35 {margin-bottom:35px!important;}
.mB40 {margin-bottom:40px!important;}
.mB45 {margin-bottom:45px!important;}
.mB50 {margin-bottom:50px!important;}
.mL0 {margin-left:0!important;}
.mL1 {margin-left:1px!important;}
.mL2 {margin-left:2px!important;}
.mL3 {margin-left:3px!important;}
.mL4 {margin-left:4px!important;}
.mL5 {margin-left:5px!important;}
.mL6 {margin-left:6px!important;}
.mL7 {margin-left:7px!important;}
.mL8 {margin-left:8px!important;}
.mL9 {margin-left:9px!important;}
.mL10 {margin-left:10px!important;}
.mL15 {margin-left:15px!important;}
.mL20 {margin-left:20px!important;}
.mL30 {margin-left:30px!important;}
.mL40 {margin-left:40px!important;}
.mL50 {margin-left:50px!important;}
.mL-1 {margin-left:-1px!important;}
.mL-2 {margin-left:-2px!important;}
.mL-3 {margin-left:-3px!important;}
.mL-4 {margin-left:-4px!important;}
.mL-5 {margin-left:-5px!important;}
.mL-10 {margin-left:-10px!important;}
.mL-20 {margin-left:-20px!important;}
.mL-30 {margin-left:-30px!important;}
.mL-40 {margin-left:-40px!important;}
.mL-50 {margin-left:-50px!important;}
.mR0 {margin-right:0px!important;}
.mR1 {margin-right:1px!important;}
.mR2 {margin-right:2px!important;}
.mR3 {margin-right:3px!important;}
.mR4 {margin-right:4px!important;}
.mR5 {margin-right:5px!important;}
.mR6 {margin-right:6px!important;}
.mR7 {margin-right:7px!important;}
.mR8 {margin-right:8px!important;}
.mR9 {margin-right:9px!important;}
.mR10 {margin-right:10px!important;}
.mR15 {margin-right:15px!important;}
.mR40 {margin-right:40px!important;}
.mR-50 {margin-right:-50px!important;}
.mR20 {margin-right:20px!important;}
.pT0 {padding-top:0px!important;}
.pT5 {padding-top:5px!important;}
.pT10 {padding-top:10px!important;}
.pT15 {padding-top:15px!important;}
.pT20 {padding-top:20px!important;}
.pT25 {padding-top:25px!important;}
.pT30 {padding-top:30px!important;}
.pT35 {padding-top:35px!important;}
.pT40 {padding-top:40px!important;}
.pT45 {padding-top:45px!important;}
.pT50 {padding-top:50px!important;}
.pT100 {padding-top:100px!important;}
.pV5 {padding-top:5px!important;padding-bottom:5px!important;}
.pV10 {padding-top:10px!important;padding-bottom:10px!important;}
.pV15 {padding-top:15px!important;padding-bottom:15px!important;}
.pV20 {padding-top:20px!important;padding-bottom:20px!important;}
.pV25 {padding-top:25px!important;padding-bottom:25px!important;}
.pV30 {padding-top:30px!important;padding-bottom:30px!important;}
.pB0 {padding-bottom:0px!important;}
.pB5 {padding-bottom:5px!important;}
.pB10 {padding-bottom:10px!important;}
.pB15 {padding-bottom:15px!important;}
.pB20 {padding-bottom:20px!important;}
.pB25 {padding-bottom:25px!important;}
.pB30 {padding-bottom:30px!important;}
.pB35 {padding-bottom:35px!important;}
.pB40 {padding-bottom:40px!important;}
.pB45 {padding-bottom:45px!important;}
.pB50 {padding-bottom:50px!important;}
.pB100 {padding-bottom:100px!important;}
.pL0 {padding-left:0!important;}
.pL5 {padding-left:5px!important;}
.pL10 {padding-left:10px!important;}
.pL15 {padding-left:15px!important;}
.pL20 {padding-left:20px!important;}
.pL25 {padding-left:25px!important;}
.pL30 {padding-left:30px!important;}
.pL35 {padding-left:35px!important;}
.pL40 {padding-left:40px!important;}
.pL45 {padding-left:45px!important;}
.pL50 {padding-left:50px!important;}
.pL60 {padding-left:60px!important;}
.pL80 {padding-left:80px!important;}
.pL100 {padding-left:100px!important;}
.pL120 {padding-left:120px!important;}
.pL140 {padding-left:140px!important;}
.pL160 {padding-left:160px!important;}
.pL180 {padding-left:180px!important;}
.pL200 {padding-left:200px!important;}
.pL220 {padding-left:220px!important;}
.pL240 {padding-left:240px!important;}
.pL260 {padding-left:260px!important;}
.pL280 {padding-left:280px!important;}
.pL300 {padding-left:300px!important;}
.pR0 {padding-right:0!important;}
.pR5 {padding-right:5px!important;}
.pR10 {padding-right:10px!important;}
.pR15 {padding-right:15px!important;}
.pR20 {padding-right:20px!important;}
.pR25 {padding-right:25px!important;}
.pR30 {padding-right:30px!important;}
.pR35 {padding-right:35px!important;}
.pR40 {padding-right:40px!important;}
.pR45 {padding-right:45px!important;}
.pR50 {padding-right:50px!important;}
.pR60 {padding-right:60px!important;}
.pR80 {padding-right:80px!important;}
.pR100 {padding-right:100px!important;}
.pR120 {padding-right:120px!important;}
.pR140 {padding-right:140px!important;}
.pR160 {padding-right:160px!important;}
.pR180 {padding-right:180px!important;}
.pR200 {padding-right:200px!important;}
.pR220 {padding-right:220px!important;}
.pR240 {padding-right:240px!important;}
.pR260 {padding-right:260px!important;}
.pR280 {padding-right:280px!important;}
.pR300 {padding-right:300px!important;}
/*    visual
----------------------------------------------*/
.pointer {cursor: pointer!important;}
/*    position
----------------------------------------------*/
.fR {float:right!important;}
.fL {float:left!important;}
.fN {float:none!important;}
.cR {clear:right!important;}
.cL {clear:left!important;}
.cN {clear:none!important;}
.cB,.clear {clear:both!important;}
.pa {position: absolute!important;}
.pr {position: relative!important;}
.ps {position: static!important;}
.paLB {position: absolute!important;
	left: 0px!important;
	bottom: 0px!important;
	margin: 0px!important;}
.paLT {position: absolute!important;
	left: 0px!important;
	top: 0px!important;
	margin: 0px!important;}
.paRT {position: absolute!important;
	right: 0px!important;
	top: 0px!important;
	margin: 0px!important;}
.paRB {position: absolute!important;
	right: 0px!important;
	bottom: 0px!important;
	margin: 0px!important;}
.vaT {vertical-align: top!important;}
.vaM {vertical-align: middle!important;}
.vaB {vertical-align: bottom!important;}
.taC,.taC > * {
	text-align: center!important;
}
.taR,.taR > * {text-align: right!important;}
.taL,.taL > * {text-align: left!important;}
/* visual none */
.hide{display:none!important;}
.show{display:block!important;}
.vnone {visibility: hidden!important;}
/* no br */
.nobr {white-space: nowrap!important;}
/* no border */
.nob {border:none!important;}
.round{
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	behavior: url(/common/css/PIE.htc);}
.externalIcon, .pdfIcon, .docIcon, .xlsIcon, .zipIcon, .pptIcon {
	border:none!important;
	vertical-align: middle!important;
	margin: 0 4px!important;
}
	img.left,.imgL,.alignleft{float:left;margin:0 20px 5px 0;}
	img.right,.imgR,.alignright{float:right;margin:0 0 5px 20px;}
	
	.imgL.narrow{float:left;margin:0 8px 5px 0;}
	.imgR.narrow{float:right;margin:0 0 5px 8px;}
	
	img.full-width{
	clear: both;
	display: block;
	width: 100%;
	height: auto;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
}
	
.imgR,.imgL,.alignright,.alignleft{
	max-width:50%;}
.block{
	display:block!important;}
.inline{
	display:inline!important;}
ul.inline{
	margin:0;
	padding:0;}
ul.inline li{
	display:inline;
	margin-right: 5px;
	margin-left: 5px;
}
.normal,.normal > *{
	font-weight:normal!important;}


table table,
table table th,
table table td{
	border:none!important;
	margin-bottom: 0px;
}

table.thL th,
table.tdL td,
dl.dtL dt,
dl.ddL dd{text-align:left;}

table.thR th,
table.tdR td ,
dl.dtR dt,
dl.ddR dd{text-align:right;}

table.thC th,
table.tdC td,
dl.dtC dt,
dl.ddC dd{text-align:center;}

table.thT th,
table.tdT td,
dl.dtT dt,
dl.ddT dd{vertical-align:top;}

table.tdB th,
table.thB td,
dl.dtB dt,
dl.ddB dd{vertical-align:bottom;}

table.thM th,
table.tdM td,
dl.dtM dt,
dl.ddM dd{vertical-align:middle;}

span.label-red {
	color: #FFF;
	background-color: #C00;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
	vertical-align: middle;
	line-height: 1;
	display: inline-block;
	margin-top: -3px;
	font-size:77%;
}
.label {
	background-color: #fff;
	vertical-align: middle;
	vertical-align: bottom;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-left: 0px;
	border-bottom-style: none;
	margin-bottom: 0px;
	color:#555;
	font-weight:bold;
}

.label span.label{
	color: #e5e6e7;
	background-color: #fff;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
	vertical-align: middle;
	line-height: 1;
	display: inline-block;
	margin-top: -3px;
	font-size:77%;
}
span.label-navy {
	color: #FFF;
	background-color: #e5e6e7;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
	vertical-align: middle;
	line-height: 1;
	display: inline-block;
	margin-top: -3px;
	font-size:77%;
}

dl.column .inner{
	padding:0 5px;}

dt{
	clear:left;
	font-weight: bold;
}
.normal dt{
	font-weight: normal;
}
dd{
	display:block;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}
.tight dt,.tight dd{
	padding-top:4px;
	padding-bottom:3px;
	margin-bottom:0px;}
dl.narrow dd,dl.narrow dt{
	padding-top:0;
	padding-bottom:0;
	margin-bottom:0;}
dl.col_1,dl.col_2,dl.col_3,dl.col_4,dl.col_5,dl.col_6{width:100%;}
dl.col_1 dt{width:8.33333333333%; float:left;}
dl.col_1 dd{padding-left:8.33333333333%; display:block;}
dl.col_2 dt{width:16.6666666667%; float:left;}
dl.col_2 dd{padding-left:16.6666666667%; display:block;}
dl.col_3 dt{width:25.0%; float:left;}
dl.col_3 dd{
	padding-left:25%;
	display:block;
}
dl.col_4 dt{width:33.3333333333%; float:left;}
dl.col_4 dd{padding-left:33.3333333333%; display:block;}
dl.col_5 dt{width:41.6666666667%; float:left;}
dl.col_5 dd{padding-left:41.6666666667%; display:block;}
dl.col_6 dt{width:50%; float:left;}
dl.col_6 dd{padding-left:50%; display:block;}
dl.col_01,dl.col_02,dl.col_03,dl.col_04,dl.col_05,dl.col_06{width:100%;}
dl.col_01 dt{width:1em; float:left;}
dl.col_01 dd{padding-left:1em; display:block;}
dl.col_02 dt{width:2em; float:left;}
dl.col_02 dd{padding-left:2em; display:block;}
dl.col_03 dt{width:3em; float:left;}
dl.col_03 dd{padding-left:3em;:block;}
dl.col_04 dt{width:4em; float:left;}
dl.col_04 dd{padding-left:4em; display:block;}
dl.col_05 dt{width:5em; float:left;}
dl.col_05 dd{padding-left:5em; display:block;}
dl.col_06 dt{width:6em; float:left;}
dl.col_06 dd{padding-left:6em; display:block;}
dl.col_07 dt{width:7em; float:left;}
dl.col_07 dd{padding-left:7em; display:block;}
dl.col_08 dt{width:8em; float:left;}
dl.col_08 dd{padding-left:8em; display:block;}
dl.col_09 dt{width:9em; float:left;}
dl.col_09 dd{padding-left:9em; display:block;}
dl.col_010 dt{width:10em; float:left;}
dl.col_010 dd{padding-left:10em; display:block;}
dl.col_011 dt{width:11em; float:left;}
dl.col_011 dd{padding-left:11em; display:block;}
dl.col_012 dt{width:12em; float:left;}
dl.col_012 dd{padding-left:12em; display:block;}
dl.list{}
dl.list dt{
	float: left;
	width: 80px;
	font-size: 12px;
	font-weight: normal;
	padding:5px 0;
}
dl.list dd{
	display: block;
	padding-left: 80px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eee;
	padding:5px 0;
}
table.col_01 th{width:1em;}
table.col_02 th{width:2em;}
table.col_03 th{width:3em;}
table.col_04 th{width:4em;}
table.col_05 th{width:5em;}
table.col_06 th{width:6em;}
table.col_07 th{width:7em;}
table.col_08 th{width:8em;}
table.col_09 th{width:9em;}
table.col_010 th{width:10em;}
table.col_011 th{width:11em;}
table.col_012 th{width:12em;}
.lineL{
	border-left: solid 1px #e5e6e7;
	padding-left: 20px;
}
dl.alt1 dd{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	padding-top:8px;
padding-bottom:8px;
}
dl.alt1 dt{padding-top:8px;
padding-bottom:8px;}

hr.clear{clear:both;}
.bs1{
	border:solid 1px #eee;}




.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}


.frame{
	border: 1px solid #ddd;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #FFF;
	}
.frame.dotted{
	border: 1px dotted #ccc;
	}
.frame.double{
	border: 3px double #ddd;
	}
a:hover .frame{
	background-color:#efefef;}

dl.column dt, dl.column dd{
	 float:none;
	 clear:both;
	 width:auto;
	 display:block;
	 padding-left:0;
	 width:100%;}
}

table.alt1{
	border:none;}
table.alt1 thead th{
	background-color:transparent;
	color:#555;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
	border-top-style: none;
}
table.alt1 th,
table.alt1 td{
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #eee;
}


h2.default,
h3.default{
	border:none!important;
	padding:0;
	} 
.full{width:100%!mportant;}
