/*---------------------------------
	GRID/COLUMNS
-----------------------------------*/
 
.container {
	max-width: 960px;
	width: 960px;
	margin: 0 auto;
	padding: 0;
}
.container.flex {
	width: 100%;
	max-width: 100%;
	padding: 0 2%;
}
.col_1 {
	width: 8.33333333333%;
}
.col_2 {
	width: 16.6666666667%;
}
.col_1-5 {
	width: 20%;
}
.col_2-5 {
	width: 40%;
}
.col_3-5 {
	width: 60%;
}
.col_4-5 {
	width: 80%;
}
.col_3 {
	width: 25.0%;
}
.col_4 {
	width: 33.3333333333%;
}
.ie6 .column .col_4, .ie7 .column .col_4 {
	width: 33%;
}
.col_5 {
	width: 41.6666666667%;
}
.col_6 {
	width: 50.0%;
}
.col_7 {
	width: 58.3333333333%;
}
.col_8 {
	width: 66.6666666667%;
}
.col_9 {
	width: 75.0%;
}
.col_10 {
	width: 83.3333333333%;
}
.col_11 {
	width: 91.6666666667%;
}
.col_12 {
	margin-left: 0;
	width: 100%;
	clear: both;
}
.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_1-5, .col_2-5, .col_3-5, .col_4-5 {
	float: left;
	display: block;
}
.col_1.center, .col_2.center, .col_3.center, .col_4.center, .col_5.center, .col_6.center, .col_7.center, .col_8.center, .col_9.center, .col_10.center, .col_11.center, .col_12.center, .col_1-5.center, .col_2-5.center, .col_3-5.center, .col_4-5.center{margin-left: auto;
	margin-right: auto;
	float: none;}
.inner img{
vertical-align:middle;}
.col_1 .inner, .col_2 .inner, .col_3 .inner, .col_4 .inner, .col_5 .inner, .col_6 .inner, .col_7 .inner, .col_8 .inner, .col_9 .inner, .col_10 .inner, .col_11 .inner, .col_12 .inner, .col_1-5 .inner, .col_2-5 .inner, .col_3-5 .inner, .col_4-5 .inner,
.col_1.default .inner, .col_2.default .inner, .col_3.default .inner, .col_4.default .inner, .col_5.default .inner, .col_6.default .inner, .col_7.default .inner, .col_8.default .inner, .col_9.default .inner, .col_10.default .inner, .col_11.default .inner, .col_12.default .inner, .col_1-5.default .inner, .col_2-5.default .inner, .col_3-5.default .inner, .col_4-5.default .inner {
	
	padding: 0 10px;
}
.col_1.close .inner, .col_2.close .inner, .col_3.close .inner, .col_4.close .inner, .col_5.close .inner, .col_6.close .inner, .col_7.close .inner, .col_8.close .inner, .col_9.close .inner, .col_10.close .inner, .col_11.close .inner, .col_12.close .inner, .col_1-5.close .inner, .col_2-5.close .inner, .col_3-5.close .inner, .col_4-5.close .inner {
	padding: 0px;
}
.col_1.wide .inner, .col_2.wide .inner, .col_3.wide .inner, .col_4.wide .inner, .col_5.wide .inner, .col_6.wide .inner, .col_7.wide .inner, .col_8.wide .inner, .col_9.wide .inner, .col_10.wide .inner, .col_11.wide .inner, .col_12.wide .inner, .col_1-5.wide .inner, .col_2-5.wide .inner, .col_3-5.wide .inner, .col_4-5.wide .inner {
	padding: 0 20px;
}
.col_1.narrow .inner, .col_2.narrow .inner, .col_3.narrow .inner, .col_4.narrow .inner, .col_5.narrow .inner, .col_6.narrow .inner, .col_7.narrow .inner, .col_8.narrow .inner, .col_9.narrow .inner, .col_10.narrow .inner, .col_11.narrow .inner, .col_12.narrow .inner, .col_1-5.narrow .inner, .col_2-5.narrow .inner, .col_3-5.narrow .inner, .col_4-5.narrow .inner {
	padding: 0 0 1px 1px;
}
.col_1.first .inner, .col_2.first .inner, .col_3.first .inner, .col_4.first .inner, .col_5.first .inner, .col_6.first .inner, .col_7.first .inner, .col_8.first .inner, .col_9.first .inner, .col_10.first .inner, .col_11.first .inner, .col_1-5.first .inner, .col_2-5.first .inner, .col_3-5.first .inner, .col_4-5.first .inner {
	padding-left: 0px;
}
.col_1.last .inner, .col_2.last .inner, .col_3.last .inner, .col_4.last .inner, .col_5.last .inner, .col_6.last .inner, .col_7.last .inner, .col_8.last .inner, .col_9.last .inner, .col_10.last .inner, .col_11.last .inner, .col_1-5.last .inner, .col_2-5.last .inner, .col_3-5.last .inner, .col_4-5.last .inner {
	padding-right: 0px;
}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0
}
* html .clearfix, *:first-child+html .clearfix {
	zoom: 1
}/* IE6  IE7 */
.container:before, .container:after {
	display: table;
	content: "";
	line-height: 0;
}
.container:after {
	clear: both;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.md-show, .sm-show, .xs-show {
	display: none;
}

@media (max-width: 767px) {

.rp-scroll {
	width: 100%;
	overflow: auto;
}
dl.column dt, dl.column dd {
	float: none;
	clear: both;
	width: auto;
	display: block;
}
.lg-show {
	display: none!important;
}
.sm-show {
	display: block!important;
}
.sm-hide {
	display: none!important;
}
.sm-m0 {
	margin: 0!important;
}
.sm-12 {
	width: 100%!important;
	clear: both;
}
.sm-6 {
	width: 50%!important;
	clear:none!important;
	float: left;
}
.sm-4 {
	width: 33.3333333333%!important;
	clear:none!important;
	float: left;
}
.sm-8 {
	width: 66.6666666667%!important;
	clear:none!important;
	float: left;
}
.sm-3 {
	width: 25%!important;
	float: left!important;
	clear: none!important;
	float: left;
}
.sm-3.narrow {
	margin: 0!important;
	padding: 0!important;
}
.sm-9 {
	width: 75%!important;
	clear:none;
	float: left;
}
.sm-inline {
	display: inline!important;
}
.sm-cL {
	clear: left;
}
.xs-cL {
	clear: none;
}
.container {
	width: 100%;
}
}

@media (min-width: 480px) and (max-width: 767px) {

}

@media (max-width: 479px) {
.xs-12 {
	width: 100%!important;
	clear: both;
}
.xs-6 {
	width: 50%!important;
	clear:none!important;
	float: left;
}
.xs-4 {
	width: 33.3333333333%!important;
	clear:none!important;
	float: left;
}
.xs-8 {
	width: 66.6666666667%!important;
	clear:none!important;
	float: left;
}
.xs-3 {
	width: 25%!important;
	clear:none!important;
	float: left;
}
.xs-9 {
	width: 75%!important;
	clear:none!important;
	float: left;
}
.xs-inline {
	display: inline!important;
}
.lg-show {
	display: none!important;
}
.xs-hide {
	display: none!important;
}
.xs-show {
	display: inherit!important;
}
.col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11 {
	float: none;
	width: auto;
	clear: both;
	display: block;
}
.container {
	width: 100%;
	max-width: 100%;/*320*/
}
}

@media (min-width: 768px) and (max-width: 979px) {
.container {
	width: 724px;
}
}

@media (max-width: 979px) {
.md-12 {
	width: 100%;
	clear: both;
}
.md-6 {
	width: 50%;
	clear:none;
	float: left;
}
.md-4 {
	width: 33.3333333333%;
	clear:none!important;
	float: left!important;
}
.md-8 {
	width: 66.6666666667%!important;
	clear:none!important;
	float: left;
}
.md-3 {
	width: 25%!important;
	clear:none!important;
	float: left;
}
.md-9 {
	width: 75%!important;
	clear:none!important;
	float: left;
}
.md-hide {
	display: none!important;
}
.md-show {
	display: inherit!important;
}
.md-inline {
	display: inline!important;
}
.md-full {
	float: none!important;
	clear: both!important;
	width: 100%!important;
}
.md-cB {
	float: none!important;
	clear: both!important;
	margin: auto!important;
}
.md-cL {
	clear: left!important;
}
.lg-show {
	display: none!important;
}
}

@media only screen and (min-width: 1300px) {
	/*
.container {
	max-width: 1100px;
	width: 1100px;
}*/
}
